.container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto
}

.restaurants-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    height: 80vh;
    width: 50vw;
    column-gap: 15px;
    row-gap: 15px;
    margin: 0 auto;
    align-items: center;
    border-style: solid;
    overflow: scroll
}